In [1]:
import pandas as pd
import numpy as np

In [2]:
rates = pd.read_csv(r'C:\Users\Karen Fernandes\anaconda3\Files\Global Electronics Retailer\Exchange_Rates.csv')
rates.head()

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [3]:
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [4]:
# converting the column names to lowercase 
rates.columns = rates.columns.str.lower()

In [5]:
# convert birthday to datetime
rates['date'] = pd.to_datetime(rates['date'])

In [6]:
# checking for nulls
rates.isnull().sum()

date        0
currency    0
exchange    0
dtype: int64

In [7]:
rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      11215 non-null  datetime64[ns]
 1   currency  11215 non-null  object
 2   exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [8]:
rates.head()

        date currency  exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [9]:
rates.to_csv('cleaned_exchange_rates.csv')