In [1]:
import pandas as pd
import numpy as np

In [2]:
prod = pd.read_csv(r'C:\Users\Karen Fernandes\anaconda3\Files\Global Electronics Retailer\Products.csv')
prod.head()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio

In [3]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [4]:
# converting the column names to lowercase 
prod.columns = prod.columns.str.lower()

In [5]:
# convert the column names to snake case
prod.columns = prod.columns.str.lower().str.replace(' ', '_')

In [6]:
# rename columns
prod.rename(columns={'productkey': 'product_key',
                     'subcategorykey': 'subcategory_key', 
                     'categorykey': 'category_key'}, 
            inplace=True)

In [7]:
# convert unit_cost_usd and unit_price_usd to float
prod['unit_cost_usd'] = prod['unit_cost_usd'].str.replace('[$,]', '', regex=True).str.strip().astype(float)
prod['unit_price_usd'] = prod['unit_price_usd'].str.replace('[$,]', '', regex=True).str.strip().astype(float)

In [8]:
# checking for nulls
prod.isnull().sum()

product_key        0
product_name       0
brand              0
color              0
unit_cost_usd      0
unit_price_usd     0
subcategory_key    0
subcategory        0
category_key       0
category           0
dtype: int64

In [9]:
# checking for duplicates
duplicates = prod[prod.duplicated(subset='product_key', keep=False)]
duplicates

Empty DataFrame
Columns: [product_key, product_name, brand, color, unit_cost_usd, unit_price_usd, subcategory_key, subcategory, category_key, category]
Index: []

In [10]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_key      2517 non-null   int64
 1   product_name     2517 non-null   object
 2   brand            2517 non-null   object
 3   color            2517 non-null   object
 4   unit_cost_usd    2517 non-null   float64
 5   unit_price_usd   2517 non-null   float64
 6   subcategory_key  2517 non-null   int64
 7   subcategory      2517 non-null   object
 8   category_key     2517 non-null   int64
 9   category         2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [11]:
prod.head()

,product_key,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategory_key,subcategory,category_key,category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio

In [12]:
prod.to_csv('cleaned_products.csv')