In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv(r'C:\Users\Karen Fernandes\anaconda3\Files\Global Electronics Retailer\Sales.csv')
sales.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD

In [3]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [4]:
# converting the column names to lowercase 
sales.columns = sales.columns.str.lower()

In [5]:
# convert the column names to snake case
sales.columns = sales.columns.str.lower().str.replace(' ', '_')

In [6]:
# rename columns
sales.rename(columns={'customerkey': 'customer_key',
                     'storekey': 'store_key',
                     'productkey': 'product_key'}, 
            inplace=True)

In [7]:
# convert order_date and delivery_date to datetime
sales['order_date'] = pd.to_datetime(sales['order_date'])
sales['delivery_date'] = pd.to_datetime(sales['delivery_date'])

In [8]:
# checking for nulls
sales.isnull().sum()

order_number         0
line_item            0
order_date           0
delivery_date    49719
customer_key         0
store_key            0
product_key          0
quantity             0
currency_code        0
dtype: int64

In [9]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_number   62884 non-null  int64
 1   line_item      62884 non-null  int64
 2   order_date     62884 non-null  datetime64[ns]
 3   delivery_date  13165 non-null  datetime64[ns]
 4   customer_key   62884 non-null  int64
 5   store_key      62884 non-null  int64
 6   product_key    62884 non-null  int64
 7   quantity       62884 non-null  int64
 8   currency_code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [10]:
sales.head()

,order_number,line_item,order_date,delivery_date,customer_key,store_key,product_key,quantity,currency_code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD

In [11]:
sales.to_csv('cleaned_sales.csv')