In [1]:
import pandas as pd
import numpy as np

In [2]:
stores = pd.read_csv(r'C:\Users\Karen Fernandes\anaconda3\Files\Global Electronics Retailer\Stores.csv')
stores.head()

   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

In [3]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [4]:
# converting the column names to lowercase 
stores.columns = stores.columns.str.lower()

In [5]:
# convert the column names to snake case
stores.columns = stores.columns.str.lower().str.replace(' ', '_')

In [6]:
# rename columns
stores.rename(columns={'storekey': 'store_key'}, inplace=True)

In [7]:
# convert order_date and delivery_date to datetime
stores['open_date'] = pd.to_datetime(stores['open_date'])

In [8]:
# checking for nulls
stores.isnull().sum()

store_key        0
country          0
state            0
square_meters    1
open_date        0
dtype: int64

In [9]:
# filling in the null
stores['square_meters'] = stores['square_meters'].fillna(0.0)

In [10]:
# checking for duplicates
duplicates = stores[stores.duplicated(subset='store_key', keep=False)]
duplicates

Empty DataFrame
Columns: [store_key, country, state, square_meters, open_date]
Index: []

In [11]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_key      67 non-null     int64
 1   country        67 non-null     object
 2   state          67 non-null     object
 3   square_meters  67 non-null     float64
 4   open_date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [12]:
stores.head()

,store_key,country,state,square_meters,open_date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09

In [13]:
stores.to_csv('cleaned_stores.csv')